$dark-blue:blue;
$very-dark-blue:darkblue;
$grey:grey;
$total-gigs:1000;
$used-gigs:815;
$linear-gradient-color-one:orange;
$linear-gradient-color-two:purple;
*{
  margin:0;
  padding:0;
  
}

body{
  font-size:16px;
  background: url('../images/bg-mobile.png') no-repeat;
  background-size:100% 100%;
}

.main{
  width:90%;
  margin: 20% auto;
}

.flex-container-vertical{
  display:flex;
  flex-direction:column;
}

.flex-container{
  display:flex;
 
}

.flex{
  
  flex:1;
  flex-basis:50%;
  background-color: $dark-blue;
  
}

.fylo{
  border-radius: 1rem 4rem 1rem 1rem;
  margin-bottom:1.5rem;
  padding:40px;
}

ul{
  margin-top:2.5rem;
}

li{
  position:relative;
  display:inline-block;
  background-color:$very-dark-blue;
  border-radius:1rem;
  width:60px;
  height:60px;
  margin-right:1rem;
  img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
  }
}

.storage{
  padding:40px;
  border-radius:1rem;
  text-align: center;
  color:white;
  h1{
    font-size:1.3rem;
  }
}

.storage-bar-container{
  background-color:$very-dark-blue;
  border:4px solid $very-dark-blue;
  border-radius:2rem;
  width:100%;
  margin: 1rem 0;
}

.storage-bar{
  height:20px;
  width: ($used-gigs / $total-gigs) * 100%;
  position:relative;
  border-radius:2rem;
  background: linear-gradient(to right, $linear-gradient-color-one, $linear-gradient-color-two);
  
}

.storage-bar-footer{
  text-align: left;
  h2{
    display: inline-block;
   
  }
}
.storage-popup{
  h1{
    font-size:3.5rem;
  }
}

.icon{
  position:absolute;
  top:50%;
  transform:translate(0, -50%);
  right:3px;
  background-color:white;
  border-radius:4rem;
  height:15px;
  width:15px;
}

// Reusable

.text-align-right{
  text-align: right;
}
